.navbar {
	background-color: rgb(128, 0, 0);
	transition: background-color 0.3s ease-in-out;
	padding-top: 40px;
	padding-bottom: 40px;
}

.navbar .navbar-nav li a{
	color: black !important;
	font-size: 1.4em !important;
	font-family: sans-serif;
	
	margin-left:10px;
	margin-right:10px;
}

.navbar .navbar-brand {
	color: black !important;
	font-size: 2.0em !important;
	font-family: Baskerville, Garamond, serif;
	margin-left:10px;
	margin-right:10px;
}

.navbar .navbar-header{
	margin-left:10px;
	margin-right:10px;
}

/* Style for the active navbar item */
.navbar-nav .nav-item.active a {
	font-weight: bold;
  }

  .navbar.opaque {
	background-color: rgb(128, 0, 0); /* Change to your desired background color */
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Optional shadow effect */
  }

.custom-toggler {
	background: none;
	border: none;
	padding: 10;
	cursor: pointer;
}

.custom-toggler-icon {
	width: 30px;
	height: 2px;
	background-color: black;
	display: block;
	margin: 5px 0;
}

@media (max-width: 576px) {
	.navbar-brand {
	  padding-left: 8px;
	}
  
	.navbar-toggler {
	  margin-right: 8px;
	}
  }

/* Mobile-specific styles */
@media (max-width: 767px) {
	.navbar-brand {
	  margin-right: 15px; /* Less margin for mobile if needed */
	}
  
	.navbar-toggler {
	  margin-left: 15px; /* More margin between title and toggler on mobile */
	}
  }